global
  daemon
  maxconn 1536
  ssl-default-bind-options no-sslv3
  tune.ssl.cachesize 100000
  tune.ssl.lifetime 600
  tune.ssl.maxrecord 1460
  tune.ssl.default-dh-param 2048

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  option forwardfor

frontend https-in
  bind *:443 ssl crt /usr/local/etc/haproxy/haproxy.pem

  default_backend keycloak_backend

  option forwardfor
  http-request set-header X-Real-IP %[src]
  http-request set-header X-Forwarded-Host %[req.hdr(host)]
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request set-header X-Forwarded-For %[src]
  http-request set-header X-Forwarded-Proto https


backend keycloak_backend
  mode http
  server kc1 192.168.50.207:8080 check

# end
